* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  background-color: #1e1e1e;
  color: #ffffff;
}

.heading {
  text-align: center;
  margin: 20px;
}

.mode-button {
  position: absolute;
  top: 1.8rem;
  right: 20px;
  height: 35px;
  width: 85px;
  font-size: 15px !important;
}

.boards {
  display: flex;
  justify-content: space-around;
}

.progress {
  all: unset;
}

.board {
  border-radius: 10px;
  background-color: #3e3e3e;
  color: #ffffff;
  padding: 1rem;
  height: 75vh;
  width: 20vw;
}

.progress {
  height: 71vh;
  width: 19vw;
}

.board ul li {
  text-align: left;
  margin: 1rem;
  font-size: 1rem;
}

.btn {
  font-size: 12px;
  margin: 2px;
}
